.container {
  padding: 0 1rem;
  max-width: 1000px;
  margin: auto;
}

.weather-display {
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;

  &__search-bar {
    margin-top: 1rem;
  }
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #fff, $alpha: 0.7);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }
}
